header {
	text-align: center;
	background-size: cover;
	background-color: black;
	padding-top: 0px;
	padding-bottom: 2px;
	color: white;
	font-family: 'Roboto Condensed', sans-serif;
	opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */
}

body {
	background: #FFF url("http://i.imgur.com/ZYYlJb8.jpg");
	background-size: 100%;
	background-position: relative;
	background-repeat: no-repeat;   
	margin: 0 0 100px;
}

.round-button {
	width: 25%;
	margin: 120px auto;
}
.round-button-circle {
	width: 60%;
	height:0;
	padding-bottom: 60%;
    border-radius: 50%;
    overflow:hidden;
    background: white; 
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}
.round-button-circle:hover {
	background: white;
	opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
    box-shadow: 0 0 0px lightgrey;
}
.round-button a {
    display:block;
	float:left;
	width:100%;
	padding-top:50%;
    padding-bottom:50%;
	line-height:1em;
	margin-top:-0.5em;
	text-align:center;
	color:black;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold;
    font-size:1.2em;
    text-decoration:none;
}

.footer {
    position: fixed;
    bottom: 0%;
    width: 100%;
}

ul {
	padding: 10px;
	background: white;
	margin:0;
}

li {
	display: inline;
}

.menu {
	background: white;
	text-align: center;
}

.menu li a{
	text-align: center;
	color: black;
	padding: 0px 70px 0px 70px;
	font-family: 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	position: center;
}

h1 {
	font-size: 60px;
	margin: 60 0 0 0px;
	padding-top: 10px;
}

img {
	border-radius: 10px;
}